<% include partials/adminheader.ejs %>
<div class="container mb-5">
        <h1 class="formheading">STUDY CONFIGURATION<i class="fa fa-plus"></i></h1>
        <form action="/adminstudyconfig" method="POST">
            <div class="container">
                <% studycats.forEach(function(catitem) {%>
                    <hr>
                    <div class="container bg-info text-white">
                        <h2 class="mb-0"><%= catitem.studycatname %></h2>
                        <Small class="mb-0 mt-0"><%= catitem.studycatdetail %> </Small>
                    </div>
                    <hr>
                    <div class="container">
                            <% studyadmin.forEach(function(fielditem){ 
                                if (fielditem.studycatname == catitem.studycatname ) { %>
                                    <% if (fielditem.fieldinputtype === "Text Box") { %>
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                <h6><%= fielditem.fieldname %>:</h6> 
                                            </div> 
                                            <div class="col-md-3 col-lg-6">
                                                <input class="admstudyinput" type="text" name="study[<%= fielditem.fieldname %>]" placeholder="<%= fielditem.fieldname %>">
                                            </div>
                                        </div>
                                    <% } %>
                                    <% if (fielditem.fieldinputtype === "Date") { %>
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                <h6><%= fielditem.fieldname %>:</h6> 
                                            </div> 
                                            <div class="col-md-3 col-lg-6">
                                                <input class="admstudyinput" type="Date" name="study[<%= fielditem.fieldname %>]" placeholder="<%= fielditem.fieldname %>">
                                            </div>
                                        </div>
                                    <% } %>
                                    <% if (fielditem.fieldinputtype === "Text Area") { %>
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                <h6><%= fielditem.fieldname %>: </h6> 
                                            </div> 
                                            <div class="col-md-3 col-lg-6">
                                                <textarea id="study[<%= fielditem.fieldname %>]" class="text" cols="55" rows ="8" name="study[<%= fielditem.fieldname %>]" placeholder="<%= fielditem.fieldname %>"></textarea>
                                            </div>
                                        </div>
                                    <% } %>
                                    <% if (fielditem.fieldinputtype === "Checkbox") { %>
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                <h6><%= fielditem.fieldname %>: </h6> 
                                            </div> 
                                            <div class="col-md-3 col-lg-6">
                                            <% fielditem.checkboxvalues.forEach(function(chkitem) {%>
                                                <input type="checkbox" id="study[<%= fielditem.fieldname %>]" name="study[<%= fielditem.fieldname %>]" value="<%= chkitem %>">
                                                <label for="study[<%= fielditem.fieldname %>]"><%= chkitem %></label>
                                            <% }); %>
                                            </div>
                                        </div>
                                    <% } %>
                                    <% if (fielditem.fieldinputtype === "Radio") { %>
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                <h6><%= fielditem.fieldname %>: </h6> 
                                            </div> 
                                            <div class="col-md-3 col-lg-6">
                                            <% fielditem.radiovalues.forEach(function(radioitem) {%>
                                                <input type="radio" id="study[<%= fielditem.fieldname %>]" name="study[<%= fielditem.fieldname %>]" value="<%= radioitem %>">
                                                <label for="study[<%= fielditem.fieldname %>]"><%= radioitem %></label>
                                            <% }); %>
                                            </div>
                                        </div>
                                    <% } %>
                                    <% if (fielditem.fieldinputtype === "Checkbox with Other") { %>
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                <h6><%= fielditem.fieldname %>: </h6> 
                                            </div> 
                                            <div class="col-md-3 col-lg-6">
                                            <% fielditem.checkboxvalues.forEach(function(chkitem) {%>
                                                <input type="checkbox" id="study[<%= fielditem.fieldname %>]" name="study[<%= fielditem.fieldname %>]" value="<%= chkitem %>">
                                                <label for="study[<%= fielditem.fieldname %>]"><%= chkitem %></label>
                                            <% }); %>
                                                <input type="checkbox" id="study[<%= fielditem.fieldname %>]" name="study[<%= fielditem.fieldname %>]">
                                                <label for="checkboxother">Other</label>
                                                <input class="admstudyinput" type="text" name="study[<%= fielditem.fieldname %>]" placeholder="checkboxother">
                                            </div>
                                        </div>
                                    <% } %>
                                    <% if (fielditem.fieldinputtype === "Radio with Other") { %>
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                <h6><%= fielditem.fieldname %>: </h6> 
                                            </div> 
                                            <div class="col-md-3 col-lg-6">
                                            <% fielditem.radiovalues.forEach(function(radioitem) {%>
                                                <input type="radio" id="study[<%= fielditem.fieldname %>]" name="study[<%= fielditem.fieldname %>]" value="<%= radioitem %>">
                                                <label for="study[<%= fielditem.fieldname %>]"><%= radioitem %></label>
                                            <% }); %>
                                                <input type="radio" id="study[<%= fielditem.fieldname %>]" name="study[<%= fielditem.fieldname %>]" value="Other">
                                                <label for="radioother">Other</label>
                                                <input class="admstudyinput" type="text" name="study[<%= fielditem.fieldname %>]" placeholder="radioother">
                                            </div>
                                        </div>
                                    <% } %>
                                <hr>
                                <% } %>
                            <% }); %>
                    </div>
                 <% });%>
                 <div class="row justify-content-md-center">
                    <div class="col-md-3 col-lg-6">
                        <button class="btn btn-md btn-block btn-dark" type="submit">ADD</button>
                    </div>
                 </div>
            </div>
        </form>
        </h1>
</div>

<% include partials/adminfooter.ejs %>