<% include partials/adminheader.ejs %>
<div class="container">
    <h1 class="formheading">SITE INFORMATION</h1>
        <div class="container">
            <div class="container">
                <hr class="listhr">
                <% sites.forEach(function(site){  %>
                    <% sitecats.forEach(function(cat){ %>
                        <div class="container bg-info text-white">
                            <h2 class="mb-0"><%= cat.sitecatname %></h2>
                            <Small><%= cat.sitecatdetail %> </Small>
                        </div>
                        <hr>
                        <% sitefields.forEach(function(field){ %>
                            <% if (field.sitecatname == cat.sitecatname ) { %>
                                <% if (site[field.fieldname]) { %> 
                                    <div class="row mb-2 mt-2">
                                        <div class="col-md-3 col-lg-3">
                                                <h6><%= field.fieldname %> </h6>
                                        </div>
                                        <% if (typeof(site[field.fieldname]) === 'object') { %>
                                            <div class="col-md-3 col-lg-6">
                                                <%= Object.values(site[field.fieldname]) %>
                                            </div>
                                        <% } else { %>
                                            <div class="col-md-3 col-lg-6">
                                                <%= site[field.fieldname] %>
                                            </div>
                                        <% } %>
                                    </div>                                                    
                                <% } %>
                            <% } %>
                        <% }); %>
                        <hr>
                    <% }); %>
                    <br>
                    <Form class="admform" action="/adminsitehome/<%= site._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure?');">
                        <button class="admbutton"><i class="fa fa-trash"></i></button>
                    </Form>
                    <a href="/adminsitehome/<%= site._id %>/edit"><button class="admbutton"><i class="far fa-edit"></i></button></a>
                    <hr class="listhr">
                             
                <% }); %>
            </div>
        </div>
    </h1>
</div>

<% include partials/adminfooter.ejs %>